
#now {
  padding-bottom: 40px;
}

#bottom {
  position: absolute;
  margin-top: -280px;
}

#girl, #boy {
  height: 200px;
  display: block;
  margin: auto;
}

#menteediv, #mentordiv {
  width: 250px;
}
